@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Cormorant:ital,wght@1,300&family=DM+Sans:ital,wght@1,700&family=Gloria+Hallelujah&family=Josefin+Sans:wght@100;300;400;500;700&family=Montserrat:wght@400;500&family=Parisienne&family=Rock+Salt&display=swap');

body {
    background-color: rgb(20,20,20);
    color: rgb(255,255,255);

    font-family: 'Josefin Sans', sans-serif;

    font-weight: 300; /* This makes the font-weight 300 by default */
}


header {
    display: flex;
    justify-content: center;

}

header ul {
    display: flex; /* This makes the Home & Contact look adjacent */
    padding: 10px 10px 50px 10px; 

}

li {
    list-style: none;
    margin: 5px 10px;
}

h1 {
    font-size: 160px;
    font-weight: 700;
    margin: 0;
}

h2 {
    margin: 0;
    font-weight: 300;
    text-align: center;
}

h3 {
    margin: 0;
}

.subtitle {
    font-size: 30px;
}

section {
    display: flex; /* Makes everything appear next to each other */
    flex-direction: column; /* Makes everything stack on top of each other */
    align-items: center;
}

.his-section {
    margin-top: 17vh; /* By using 17% of view per height, so however big the browser's height is, the margin top of this class would be 17% of that */
    text-align: center;
}

.light-text {
    font-weight: 100;
}

footer {
    position: fixed; /* This keeps the footer position fixed on the bottom left with the bottom & left are both zero */
    bottom: 0;
    left: 0;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 100vw; /* This makes the footer stuck in the center bottom when the page is minimized vertically */ 
}

footer ul {
    display: flex;
    padding: 30px;

}

.option {
    display: flex;
}

.option a {
    margin: 40px 10px;
}

a {
    text-decoration: none;
    color: rgb(255,255,255);
}

a :hover {
    color: aqua;
}

.socials {
    width: 100px;
    height: 320px;
    background-color: rgb(255,0,166);
    border-radius: 30px 0 0 30px;
    position: fixed;
    right: 0; 
    top: 35vh; /* This will make it 30% from the top */
}

/* Setting the pink field to disappear on mobile screen 600px */
@media only screen and (max-width: 600px) {
    .socials {
        display: none;
    }
}


.social {
    width: 100%; 
    height: 33%;
}

.wave {
    fill: rgb(0,0,0);
    width: 100vw;
    height: 55vh;
    position: fixed;
    bottom: 0;
    left: 0;

}

.social svg {
    fill: rgb(255,255,255);
    
}

/* Study Page  */
.study-details {
    width: 50%;
}

.study-details td {
    padding: 15px;
}

/* Mobile screen - As soon as the screen becomes  less than 600px, change the table to yellow */
@media only screen and (max-width: 600px) {
    .study-details {
        /* background-color: yellow; */
        width: 80%;
    }

    .study-details td {
        padding: 5px;
    }
}

/* To over-ride the fixed footer styling on top, we are going to position the .sub-pages-footer as relative */
.sub-pages-footer {
    position: relative;
}

/* About Haven */
.about-me {
    width: 50%;
    text-align: center;
}

.about-me img {
    border-radius: 50%;
    height: 150px;
    margin: 40px 15px 15px 15px;
}